.question-container {
    width: 500px;
    height: fit-content;
    border: 3px solid black;
    color: rgb(0, 0, 0);
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
}

.category-container {
    margin-bottom: 10px;
}

.title-container:hover {
    cursor: pointer;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.questions-area {
    width: 100%;
    white-space: pre-wrap;
}

.question-area {
    border-bottom: 2px solid rgb(201, 198, 198);
    margin-bottom: 5px;
}

.image-space {
    width: 100%;
}

.image-space img {
    width: 100%;
    height: fit-content;
}


.answer_wrap {
    white-space: pre-line;
}